[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-registration = "*"
psycopg2-binary = "*"
cloudinary = "*"
django = "==2.1.4"

[dev-packages]

[requires]
python_version = "3.9"
