{% extends 'base.html' %}
{% block content %}
<style>
    .container{
        margin-top: 10px;
    }

</style>
<div class="container">
    <div class="row">
        {% for feed in posts %}
        <div class="col--12 col-md-8 offset-md-2 mt-5">
            <div class="panel panel-default">

                <img src="{{feed.image.url}}" class="img-responsive" alt="" style="border-radius: 3px;">
                <div class="panel-footer">
                    <a><img src="https://img.icons8.com/ios/30/000000/like.png" /></a>
                    <a href="{{feed.id}}"><img src="https://img.icons8.com/ios/30/000000/topic.png" /></a>
                    <a><img src="https://img.icons8.com/material-outlined/30/000000/filled-sent.png" /></a>
                    <p>
                        <small style="font-family: cursive;"><strong>{{feed.profile}}</strong>: {{feed.caption}}</small>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

        
  
    </div>
      

</div>



{% endblock %}
    