{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    .container{
        margin-top: 10px;
    }
    .main{
        width:100%;
        padding:20px 0;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: -10px;
    }
    .wrapper{
        width: 70%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap:30px; 
    }
    .left-col{
        display: flex;
        flex-direction: column;

    }
    .status-wrapper{
        margin-left: 15px;
        width: 740px;
        height: 120px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        padding: 5px;
        display: flex;
        padding-right: 0;
        align-items: center;
    }
    .status-card{
        flex:0 0 auto;
        width: 80px;
        max-width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;   
    }
    .prof{
      background: linear-gradient(45deg ,rgb(223, 10, 10),rgb(251, 228, 13));
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      padding: 3px;
    }
    .prof img{
     width: 100%;
     height: 100%;   
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid #fff;
    }
    .profil{
        width: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 12px;
        margin-top: 5px;
        color:gray;
    }
    .user{
        width: 100%;
        height: 80px;
        display: flex;
       align-items: center;
        padding: 0 20px;
        justify-content: space-between;
        background: #fff;
        border:1px solid #dfdfdf;
        margin-bottom: 0;

       
    }
    .infopic{
     background: linear-gradient(45deg ,rgb(223, 10, 10),rgb(251, 228, 13));
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      padding: 3px;
    }
    .infopic img{
    width: 100%;
     height: 100%;  
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid #fff;
    }
    .post{
        width: 100%;
        width: 1005;
    }
    .img{
        width: 100%;
        width: 100%;
    }
    /* input::placeholder{
        padding: 10;   
    } */
    .compic{
     
      overflow: hidden;
      padding: 3px;
    }
    .com{
        width: 100%;
        height: 80px;
        display: flex;
       align-items: center;
        padding: 0 20px;
        justify-content: space-between;
        background: #fff;
        border:none ;
        margin-bottom: 0;  
    }

    .compic{
     /* background: linear-gradient(45deg ,rgb(223, 10, 10),rgb(251, 228, 13)); */
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      padding: 3px;
    }
    .compic img{
    width: 100%;
     height: 100%;  
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid #fff;
    }

    
</style>

<div class="container">
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="status-wrapper">
                    <div class="status-card">
                        <div class="prof">
                            <img src="static/img/prof.png" alt="" srcset=""></div> 
                            <p class="profil">Bagerz</p>          
                    </div>
                    <div class="status-card">
                        <div class="prof">
                            <img src="static/img/axel-antas-bergkvist-XUdIi04ohps-unsplash.jpg" alt="" srcset=""></div> 
                            <p class="profil">Skyles</p>          
                    </div>
                    <div class="status-card">
                        <div class="prof">
                            <img src="static/img/Screenshot_2020-04-22-21-56-46-683_com.android.thememanager.jpg" alt="" srcset=""></div> 
                            <p class="profil">Jerry</p>          
                    </div>
                    <div class="status-card">
                        <div class="prof">
                            <img src="static/img/set.jpg" alt="" srcset=""></div> 
                            <p class="profil">Katana</p>          
                    </div>

                    <div class="status-card">
                        <div class="prof">
                            <img src="static/img/kelly-sikkema-cMMPElKNjN0-unsplash.jpg" alt="" srcset=""></div> 
                            <p class="profil">Ye</p>          
                    </div>

                    <div class="status-card">
                        <div class="prof">
                            <img src="static/img/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="" srcset=""></div> 
                            <p class="profil">Bazuu</p>          
                    </div>

                    <div class="status-card">
                        <div class="prof">
                            <img src="static/img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg" alt="" srcset=""></div> 
                            <p class="profil">Bigfish</p>          
                    </div>

                </div>

            </div>
            <div class="right-col">

            </div>

        </div>

    </section>
    <div class="row">
   
        {% for feed in posts %}
        <div class="col-sm-12 col-md-8 offset-md-2 mt-5">
            <div class="post">
                 <div class="about">
                     <div class="user">  
                        <div class="infopic"><img src="static/img/axel-antas-bergkvist-XUdIi04ohps-unsplash.jpg" alt="" srcset=""></div>
                        <img src="static/img/option.PNG" alt="" srcset=""> 
                     </div>
         
                    
                 </div>           
            </div>
            <div class="panel panel-default">

                <img src="{{feed.image.url}}" class="img-responsive" alt="" style="border-radius: 3px;">
                <div class="panel-footer">
                  
                    <div class="img">
                            <a><img src="https://img.icons8.com/ios/30/000000/like.png" /></a>
                        <a href="{{feed.id}}"><img src="https://img.icons8.com/ios/30/000000/topic.png" /></a>
                        <a><img src="https://img.icons8.com/material-outlined/30/000000/filled-sent.png" /></a>
                        <p>
                            <p style="font-family: cursive; font-size: 20px;"><strong>{{feed.profile}}</strong>: {{feed.image_caption}}</p> 
                        </p>
                    </div>
                    <p><small> <strong>1,212 likes</strong> </small></p><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu turpis purus.</p>
                 
                   <div class="com">  
                        <div class="compic"><img src="static/img/smile.PNG" alt="" srcset=""></div>
                        <input c type="text" placeholder="Add a Comment" style="border-left: none; border-right: none; border-top: none; width: 100%; height: 100%;"> 
                    </div>
                  
                 
                
                </div>
                    
              
            </div>
        </div>
        {% endfor %}

        
  
    </div>
      

</div>

{% endblock %}
    