{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .container{
        margin-top: 10px;
    }
</style>
<div class="container">
    <div class="row">
        {% for feed in posts %}
        <div class="col-sm-12 col-md-8 offset-md-2 mt-5">
            <div class="panel panel-default">

                <img src="{{feed.image.url}}" class="img-responsive" alt="" style="border-radius: 3px;">
                <div class="panel-footer">
                    <div class="flex">
                            <a><img src="{% static '/img/like.PNG' %}" /></a>
                        <a href="{{feed.id}}"><img src="{% static '/img/comment.PNG' %}" /></a>
                        <a><img src="{% static '/img/send.PNG' %}" /></a>
                        <p>
                            <p style="font-family: cursive; font-size: 20px;"><strong>{{feed.profile}}</strong>: {{feed.image_caption}}</p> 
                        </p>
                    </div>
                    <p><small>View all comments{{comments.count}}</small></p>

                    <div class="end">
                        <input type="text" placeholder="Add a Comment" style="padding: 10px;">
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}

        
  
    </div>
      

</div>

{% endblock %}
    