{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 pt-3 pb-3" id="profile-box">
            <h4 class="mb-4">Upload a  photo</h4>
            
            <form action="{%url 'new_image'%}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="btb btn-primary btn" value="Publish">
                </div>
                    <input type="hidden" name="next" value="{{next}}">

            </form>
        </div>
    </div>

</div>
{% endblock %}