{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 " style="margin-top:20px;" >
            <h4></h4>
            <img src="{{profile.photo.url}}" alt="" srcset="">
        </div>

        <div class="col-md-6 offset-md-3">
            <p></p>
        </div>
        <div class="btn">
            <button type="submit" class="btn btn-light">Edit Profile </button>
        </div>
    </div>

    <ul class="nav nav-pills mb-2">
        <li class="nav-item " role="presentation">
           <a href="{% url 'userprofile' %}" class="dropdown-item"><i class="fas fa-th"><span>POSTS</span class="ms-2"></i></a>
        </li>
        <li class="nav-item " role="presentation">
            <a href="{% url 'userprofile' %}" class="dropdown-item"><i class="fas fa-television"><span>IGTV</span class="ms-2"></i></a>
            </li>
        <li class="nav-item " role="presentation">
            <a href="{% url 'userprofile' %}" class="dropdown-item"><i class="fas fa-bookmark"><span>SAVED</span class="ms-2"></i></a>
            </li>
        <li class="nav-item " role="presentation">
            <a href="{% url 'userprofile' %}" class="dropdown-item"><i class="fas fa-tag"><span>TAGGED</span class="ms-2"></i></a>
            </li>
    </ul>

</div>
{% endblock %}